{#
  /**
   * @file
   * Theme override to display a carousel block.
   */
#}
{% set classes = [
  'block',
  'carousel-block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
{% set align = content.field_image_align['#items'].getValue()|first.value %}

<div{{ attributes.addClass(classes) }}>
  <div class="container-wrap clearfix">
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="row block-content">
      {% if align == 'Left' %}
        <div class="col-md-6">
          {{ content.field_test }}
        </div>
        <div class="col-md-6">
          {{ content.body }}
        </div>
      {% else %}
        <div class="col-md-6">
          {{ content.body }}
        </div>
        <div class="col-md-6">
          {{ content.field_test }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
